#shop {
  padding-bottom: 2.5rem;

  line-height: 1.4;
  font-size: 0.875rem;
  letter-spacing: 0.01875rem;

  color: $secondary-text-color;

  @media screen and (min-width: 992px) {
    padding-top: 1.5rem;
  }

  & .products > .container {
    @media screen and (max-width: 991px) {
      max-width: initial;
      padding: 0;
    }

    & .container {
      @media screen and (min-width: 992px) {
        display: contents;
      }
    }
  }

  & button {
    letter-spacing: inherit;
  }

  & h2:not(.woocommerce-loop-product__title) {
    font-size: 1.5rem;

    color: $third-text-color;
  }
}

.breadcrumb {
  @media screen and (max-width: 991px) {
    padding: 0.75rem 1rem;
    border-bottom: 1px solid $fifth-bg-color;
    margin-bottom: 0;

    background-color: $fourth-text-color;
  }

  @media screen and (min-width: 992px) {
    margin-bottom: 1.5rem;
  }
}

.products-wrapper {
  gap: 1.25rem;
}

.nav-wrapper {
  @media screen and (max-width: 991px) {
    gap: 0.625rem;

    padding: 0.75rem 0 0.75rem 1rem;
    margin-bottom: 1.5rem;
  }

  @media screen and (min-width: 992px) {
    width: 15rem;
  }

  @media screen and (min-width: 1200px) {
    width: 15.75rem;
  }

  & .products-nav__button {
    @include hover(color inherit $third-text-color);

    width: 100%;
    padding: 0;

    text-align: start;
    background-color: transparent;

    &.is-active {
      color: $third-text-color;
    }
  }
}

.nav-wrapper__title {
  padding-bottom: 0.6875rem;
  border-bottom: 1px solid $fourth-text-color;
  margin-bottom: 0.75rem;

  font-size: 1.25rem;

  color: $seventh-text-color;
}

.products-nav__item {
  &:not(:last-child) {
    @media screen and (min-width: 992px) {
      margin-bottom: 0.75rem;
    }
  }
}

.nav-wrapper,
.products-toolbar {
  @media screen and (max-width: 991px) {
    border-bottom: 1px solid $fifth-bg-color;
    background-color: $fourth-text-color;
  }

  @media screen and (min-width: 992px) {
    background-color: $white-color;
  }
}

.products-toolbar {
  padding: 0.75rem 1rem;

  @media screen and (min-width: 992px) {
    padding-left: 0.75rem;
    padding-right: 0.75rem;
    margin-bottom: 1.25rem;
  }
}

.toolbar-wrapper__title {
  margin-bottom: 0.75rem;

  font-size: 1.25rem;
  line-height: calc(1.7875 / 1.25);

  color: $third-text-color;

  @media screen and (min-width: 992px) {
    font-weight: 600;
    text-transform: uppercase;
  }
}

.toolbar-els {
  gap: 0.25rem;

  @media screen and (min-width: 576px) {
    gap: 1rem;
  }
}

.toolbar-els__button {
  gap: 0.25rem;

  padding: 0.25rem 0.625rem;
  border: 2px solid $fifth-bg-color;
  border-radius: $primary-radius;

  white-space: nowrap;

  color: $third-text-color;
  background-color: $fourth-text-color;
  fill: $fifth-text-color;

  @media screen and (min-width: 992px) {
    gap: 0.5rem;
  }
}

.order-list,
.filter-container {
  @include transition(opacity, visibility);

  top: calc(100% + 0.5rem);

  border: 2px solid $fifth-bg-color;
  background-color: $fourth-text-color;

  &.is-hidden {
    visibility: hidden;
    opacity: 0;
  }
}

.order-list__button {
  @include hover(color $third-text-color $white-color, background-color transparent $accent-color);

  padding-left: 1.75rem;
  padding-right: 1.75rem;

  white-space: nowrap;

  &:first-child {
    padding-top: 0.625rem;
    padding-bottom: 0.5rem;
  }

  &:last-child {
    padding-top: 0.5rem;
    padding-bottom: 0.625rem;
  }

  &.is-active {
    color: $white-color;
    background-color: $accent-color;
  }
}

select.toolbar-els__button {
  appearance: none;
  outline: none;
  
  height: 2.25rem;
  min-width: 14.0625rem;

  background-image: url(../images/icon_sort.svg);
  background-position: right 0.625rem top 50%;
  background-size: 1.5rem 1.5rem;
  background-repeat: no-repeat;
}

.filter-wrapper {
  padding: 0.875rem 4.875rem 0.875rem 0.625rem;
}

.filter-wrapper__field {
  white-space: nowrap;

  cursor: pointer;

  color: $third-text-color;

  &:not(:last-child) {
    margin-bottom: 0.75rem;
  }
}

.filter-wrapper__input {
  all: unset;

  display: inline-block;
  flex-shrink: 0;

  width: 1.5rem;
  height: 1.5rem;

  background-image: url(../images/checkbox.svg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;

  &:checked {
    background-image: url(../images/checkbox-checked.svg);
  }
}

.select-container {
  display: contents;
}

.filter-select {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  opacity: 0;

  @media screen and (min-width: 992px) {
    z-index: -1;
  }
}