#shop {
  padding-bottom: 2.5rem;

  @media screen and (min-width: 992px) {
    padding-top: 1.5rem;
  }

  color: $secondary-text-color;
}

.breadcrumb {
  margin-bottom: 1.5rem;
}

.products-wrapper {
  gap: 1.25rem;
}

.nav-wrapper {
  width: 15rem;

  @media screen and (min-width: 1200px) {
    width: 15.75rem;
  }
}

.nav-wrapper__title {
  padding-bottom: 0.6875rem;
  border-bottom: 1px solid $fourth-text-color;
  margin-bottom: 0.75rem;

  font-size: 1.25rem;

  color: $seventh-text-color;
}

.products-nav__item {
  &:not(:last-child) {
    margin-bottom: 0.75rem;
  }
}

.products-nav__button {
  @include hover(color inherit $third-text-color);

  font-size: 0.875rem;
  line-height: 1.4;
  letter-spacing: 0.01875rem;

  &.is-active {
    color: $third-text-color;
  }
}

.nav-wrapper,
.products-toolbar {
  background-color: $white-color;
}

.products-toolbar {
  padding-left: 0.75rem;
  padding-right: 0.75rem;
  margin-bottom: 1.25rem;
}

.toolbar-wrapper__title {
  font-size: 1.25rem;
  line-height: calc(1.7875 / 1.25);

  color: $third-text-color;
}

.toolbar-els__button {
  padding: 0.25rem 0.75rem;
  border: 2px solid $fifth-bg-color;
  border-radius: $primary-radius;

  font-size: 0.875rem;
  line-height: 1.4;
  letter-spacing: 0.01875rem;

  color: $third-text-color;
  background-color: $fourth-text-color;
  fill: $fifth-text-color;
}

.order-list,
.filter-container {
  @include transition(opacity, visibility);

  top: calc(100% + 0.5rem);

  border: 2px solid $fifth-bg-color;
  background-color: $fourth-text-color;

  &.is-hidden {
    visibility: hidden;
    opacity: 0;
  }
}

.order-list__button {
  @include hover(color $third-text-color $white-color, background-color transparent $accent-color);

  padding-left: 1.75rem;
  padding-right: 1.75rem;

  font-size: 0.875rem;
  line-height: 1.4;
  letter-spacing: 0.01875rem;

  &:first-child {
    padding-top: 0.625rem;
    padding-bottom: 0.5rem;
  }

  &:last-child {
    padding-top: 0.5rem;
    padding-bottom: 0.625rem;
  }

  &.is-active {
    color: $white-color;
    background-color: $accent-color;
  }
}

.filter-wrapper {
  padding: 0.875rem 4.875rem 0.875rem 0.625rem;
}

.filter-wrapper__field {
  font-size: 0.875rem;
  line-height: 1.4;
  letter-spacing: 0.01875rem;

  cursor: pointer;

  color: $third-text-color;

  &:not(:last-child) {
    margin-bottom: 0.75rem;
  }
}

.filter-wrapper__input {
  all: unset;
  
  display: inline-block;

  width: 1.5rem;
  height: 1.5rem;
  
  background-image: url(../images/checkbox.svg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  
  &:checked {
    background-image: url(../images/checkbox-checked.svg);
  }
}

#cart {
  &.animate {
    animation-name: tada;
    animation-duration: 0.8s;
  }
}