#home {
  & .about {
    padding: clamp(4rem, 3.042rem + 4.26vw, 6.875rem) 0;

    & .container {
      @media screen and (min-width: 768px) and (max-width: 991px) {
        max-width: 540px;
      }
    }
  }

  & .about-wrapper {
    border-radius: $secondary-radius;
    background-color: $accent-color;
  }

  & .about-thumb {
    aspect-ratio: 1 / calc(13.6875 / 20.5);

    border-radius: $secondary-radius $secondary-radius 0 0;

    @media screen and (min-width: 992px) {
      aspect-ratio: 1 / calc(33.1875 / 28.5);
      max-width: 28.5rem;

      border-radius: $secondary-radius;
    }

    @media screen and (min-width: 1200px){
      aspect-ratio: 1 / calc(531 / 696);
      max-width: 58.9831%;
    }
  }

  & .about-content {
    padding: 1rem clamp(1rem, -0.282rem + 5.7vw, 3.25rem) 1rem clamp(1rem, -0.424rem + 6.33vw, 3.5rem);

    @media screen and (min-width: 1440px) {
      padding: 0 3.5rem;
    }

    & p {
      &:not(:last-of-type) {
        margin-bottom: 1.3125rem;
      }

      &:last-of-type {
        margin-bottom: 2.25rem;
      }
    }
  }

  & .about-title {
    color: $secondary-accent-color;
  }

  & .about-button {
    @include hover(background-color $secondary-accent-color $black-color);
  }
}