@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap');

body {
  font-family: "Oswald", sans-serif;
  font-size: clamp(0.875rem, 0.804rem + 0.32vw, 1rem);
  line-height: calc(20.75 / 14);

  background-color: $team-bg-color;

  @media screen and (min-width: 992px) {
    line-height: calc(23.71 / 16);
  }
}