.aside {
  @media screen and (min-width: 992px) {
    width: clamp(15rem, 13.154rem + 2.88vw, 15.75rem);
  }

  max-height: 35.9375rem;
}

.aside__title {
  margin-bottom: 1.5rem;

  white-space: nowrap;
}

.nav-list__item {
  &:not(:last-child){
    margin-bottom: 0.75rem;
  }
}

.nav-list__button {
  @include hover(fill $secondary-text-color $third-text-color, color $secondary-text-color $third-text-color);

  &.is-active {
    fill: $third-text-color;
    color: $third-text-color;
  }
}

.aside__link {
  margin-top: 1.875rem;

  fill: $error-color;
  color: $error-color;
}