.container {
  @media screen and (max-width: 575px) {
    padding: 0 1rem;
    max-width: 540px;
  }

  @media screen and (min-width: 1024px){
    max-width: 64rem;

    padding: 0 2.75rem;
  }

  @media screen and (min-width: 1200px){
    max-width: 1140px;
  }

  @media screen and (min-width: 1440px) {
    max-width: 90rem;
    padding: 0 8.125rem;
  }
}

.section-title {
  font-size: clamp(2.125rem, 1.911rem + 0.95vw, 2.5rem);
  text-transform: uppercase;
}

.button-primary {
  @include hover(background-color $accent-color $secondary-bg-color,);

  height: 3rem;

  padding: 0 0.44rem;
  border-radius: $primary-radius;

  fill: $white-color;
  color: $white-color;

  @media screen and (max-width: 991px) {
    height: 2.5rem;

    letter-spacing: 0.01875rem;
  }

  &:active {
    background-color: $fourth-bg-color;
  }
}

.button-secondary {
  padding: 0.5rem 1rem;

  border-radius: $secondary-radius;

  fill: $white-color;

  @media screen and (min-width: 992px) {
    padding: 0.75rem 1rem;
  }
}

.ctrls-list__item {
  @include hover(fill $secondary-accent-color $accent-color);
}

.swiper-pagination-horizontal {
  &.swiper-pagination-bullets .swiper-pagination-bullet {
    width: 0.5rem;
    height: 0.5rem;

    margin: 0;

    opacity: 1;
    background-color: $ninth-bg-color;

    &.swiper-pagination-bullet-active {
      background-color: $secondary-accent-color;
    }

    &:not(:last-child) {
      margin-right: 0.75rem;
    }
  }
}

.breadcrumb {
  display: block;

  font-size: 0.875rem;
  letter-spacing: 0.01875rem;
  line-height: 1.4;

  & .current {
    color: $third-text-color;
  }
}

.buy-button {
  & span {
    @include transition(scale);
  }

  &:disabled {
    background-color: $fifth-bg-color;

    & span {
      scale: 0;
    }

    & .loader-container {
      scale: 1;
    }
  }

  & .loader-container {
    @include transition(scale);

    scale: 0;
  }

  & .loader {
    animation: spin 2s linear infinite;
  }
}