$accent-color: #1F4C43;
$secondary-accent-color: #E5A83A;

$secondary-text-color: #8A8D92;
$third-text-color: #1F252E;
$fourth-text-color: #F5F5F5;
$fifth-text-color: #C0C2C4;
$sixth-text-color: #313131;
$seventh-text-color: #333;

$primary-bg-color: #F6F6EE;
$secondary-bg-color: #083921;
$fourth-bg-color: #1F7A4D;
$fifth-bg-color: #DFE0E1;
$sixth-bg-color: #373737;
$seventh-bg-color: #2A2A2A;
$eighth-bg-color: #424242;
$nineth-bg-color: #E6E9EA;

$white-color: #FFF;
$black-color: #000;

$loader-background-color: #EEEEEE;
$loader-highlight-color: #DEDEDE;

$primary-radius: 0.75rem;
$secondary-radius: 1rem;
$third-radius: 1.25rem;
$fourth-radius: 0.5rem;
$fifth-radius: 0.25rem;

$duration: 200ms;
$timing-function: ease-in-out;