@mixin transition($props...) {
  $transitions: ();
  @each $prop in $props {
    $transitions: append($transitions, #{$prop} $duration $timing-function, comma);
  }
  transition: $transitions;
}

@mixin hover($args...) {
  $transition-props: ();

  @each $arg in $args {
    $property: null;
    $start-value: null;
    $end-value: null;

    @if length($arg) == 3 {
      $property: nth($arg, 1);
      $start-value: nth($arg, 2);
      $end-value: nth($arg, 3);
    } @else if length($arg) == 2 {
      $property: nth($arg, 1);
      $start-value: nth($arg, 2);
      $end-value: null;
    }

    @if $property {
      $transition-props: append($transition-props, $property);

      #{$property}: $start-value;

      @media (hover: hover) {
        &:hover {
          #{$property}: $end-value;
        }

        &:focus {
          #{$property}: $end-value;
        }
      }

      @media (hover: none) {
        &:active {
          #{$property}: $end-value;
        }
      }
    }
  }

  @include transition($transition-props...);
}

@mixin py($pt, $pb, $pt1440, $pb1440) {
  padding-top: $pt;
  padding-bottom: $pb;

  @media screen and (min-width: 1440px) {
    padding-top: $pt1440;
    padding-bottom: $pb1440;
  }
}