#cart-backdrop.is-hidden .cart-modal {
  transform: translateX(100%);
}

.cart-modal {
  @include transition(transform);
  margin-left: auto;
  max-width: 20.125rem;
  height: 100%;
  padding: 3.5rem 1rem;
  background-color: $white-color;

  @media screen and (min-width: 576px) {
    max-width: 21.625rem;
  }
}

.cart-title {
  line-height: 143%;
  color: $third-text-color;
}

.cart-button__icon {
  fill: currentColor;
}

.cart-thumb-wrapper {
  padding-top: 4rem;
}

.cart-thumb {
  position: relative;
  max-width: calc(100% - 2.375rem);
  margin: 0 auto;
  padding-top: calc((333 / 314) * 100%);
}

.cart-thumb__image {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.cart-link {
  margin-top: 3.5rem;
  line-height: calc((20.72 / 16) * 100%);
}

.cart-scroll-container {
  max-height: 100%;
  padding-top: 1.5rem;
  padding-bottom: 3.5rem;
  overflow: auto;
}

.cart-scroll-container::-webkit-scrollbar {
  display: none;
}

.cart-list::-webkit-scrollbar {
  display: none;
}

.cart-list__item:not(:first-child) {
  margin-top: 1.5rem;
}

.cart-products {
  margin-top: 0.5rem;
}

.cart-products__item::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  display: block;
  width: 100%;
  height: 0.0625rem;
  background-color: $fourth-text-color;
}

.cart-products__item:not(:first-child) {
  margin-top: 0.5rem;
}

.cart-list__title {
  color: $accent-color;
}

.cart-products__thumb {
  width: 4.5rem;
  height: 4.5rem;
  border-radius: 0.25rem;
  overflow: hidden;
}

.cart-products__title {
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  font-size: 0.875rem;
  line-height: 140%;
  letter-spacing: 0.03125rem;
  overflow: hidden;
  color: $third-text-color;

  @media screen and (min-width: 576px) {
    -webkit-line-clamp: 2;
  }
}

.delete-button {
  flex-shrink: 0;
  width: 1.5rem;
  height: 1.5rem;
  color: $secondary-text-color;
}

.delete-button__icon {
  fill: currentColor;
}

.cart-products__inner {
  margin-top: 0.75rem;
}

.cart-quantity {
  width: 5.8125rem;
  border-radius: 0.75rem;
  background-color: $primary-bg-color;
}

.cart-quantity__value {
  font-size: 0.875rem;
  line-height: calc(19.6 / 14);
  letter-spacing: 0.03125rem;
  color: $third-text-color;
}

.cart-quantity__button {
  color: $secondary-text-color;
}

.cart-quantity__icon {
  fill: currentColor;
}

.cart-products__price {
  font-size: 1.125rem;
  line-height: 150%;
  color: $secondary-accent-color;
}

.cart-list__price {
  text-align: right;
  font-size: 14px;
  line-height: calc((19.6 / 14) * 100%);
  letter-spacing: 0.03125rem;
}

.cart-list__price span:first-child {
  color: $secondary-text-color;
}

.cart-list__price span:last-child {
  color: $third-text-color;
}

.cart-price {
  margin-top: 1.5rem;
  text-align: right;
  font-size: 18px;
  line-height: calc((27 / 18) * 100%);
}

.cart-price::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 1px;
  background-color: $fourth-text-color;
}

.cart-price span:first-child {
  color: $secondary-text-color;
}

.cart-price span:last-child {
  color: $third-text-color;
}

.cart-checkout {
  margin-top: 2.5rem;
  line-height: calc((20.72 / 16) * 100%);
}

.cart-overlay {
  @include transition(opacity);
  pointer-events: none;
  opacity: 0;
  background-color: rgba(255, 255, 255, 0.4);
}

.cart-modal .loader .circle {
  background-color: $accent-color;
}

.cart-modal.loading .cart-overlay {
  pointer-events: all;
  opacity: 1;
}

.cart-modal.loading .loader-container {
  scale: 1.5;
}