.header {
  padding-top: clamp(0.875rem, 0.768rem + 0.47vw, 1.063rem);
  padding-bottom: clamp(0.938rem, 0.831rem + 0.47vw, 1.125rem);
}

.header-wrapper {
  justify-content: space-between;
}

.header-anchor {
  @include hover(color $white-color $team-accent-color, background-color $team-accent-color $white-color);

  min-width: clamp(9.75rem, 7.436rem + 10.28vw, 13.813rem);

  padding: clamp(0.594rem, 0.505rem + 0.4vw, 0.75rem);
  border-radius: $primary-radius;

  @media screen and (min-width: 992px) {
    line-height: calc(23.71 / 16);
  }
}

.back-link {
  @include hover(fill $white-color $team-accent-color, color $white-color $team-accent-color);

  line-height: calc(23.71 / 16);
}

.header-logo {
  width: clamp(6.75rem, 4.044rem + 12.03vw, 11.5rem);
  height: clamp(2.688rem, 1.655rem + 4.59vw, 4.5rem);
}

.logo {
  object-fit: contain;
}
