.steps {
  --_padding--bottom: 15rem;
  --_padding--top: 13.5rem;
  padding-top: var(--_padding--top);
  @media screen and (max-width: 990px){
    --_padding--bottom: 5rem;
    --_padding--top: 23.5rem !important;
  }
  & > .container {
    padding-bottom: var(--_padding--bottom);

  }
}

.steps-list {
  max-width: 66.5rem;
  @media screen and (min-width: 768px){
    background-image: url(../images/arrow_bottom_right.svg), url(../images/arrow_bottom_left.svg);
  }
  background-repeat: no-repeat;
  background-position: top 27% left 34%, bottom 12.31% left 34%;
}

.steps__item {
  max-width: 36.25rem;

  padding: 1rem;

  @media screen and (min-width: 992px) {
    padding: 1.5rem;
  }

  @supports (padding: clamp(1rem, 0.715rem + 1.27vw, 1.5rem)) {
    padding: clamp(1rem, 0.715rem + 1.27vw, 1.5rem);
  }
  position: relative;
  --_image-position--x: 120%;
  --_image-position--y: -4rem;
  --_image-size--width: 408px;
  --_image-aspect-ratio: 408/363;
  --_transform--tramslateX: 0;
  @media screen and (max-width: 1199px){
    --_image-position--x: 100%;
    --_image-size--width: 360px;
  }
  @media screen and (max-width: 990px){
    --_image-position--x: 80%;
    --_image-size--width: 320px;
    --_image-position--y: -15rem;
  }
  @media screen and (max-width: 767px){
    --_image-position--x: 50%;
    --_image-size--width: 300px;
    --_image-position--y: -18rem;
    --_transform--tramslateX: -50%;
    img{
      left: var(--_image-position--x) !important;
      right: unset !important;
    }
    &:nth-child(2) {
      margin-top: 23rem !important;
    }
  }
  @media screen and (max-width: 565px){
    --_image-size--width: 260px;
  }
  @media screen and (max-width: 501px){
    --_image-position--y: -16rem;
  }


  img{
    position: absolute;
    top: var(--_image-position--y);
    left: var(--_image-position--x);
    width: var(--_image-size--width);
    aspect-ratio: var(--_image-aspect-ratio) ;
    transform: translateX(var(--_transform--tramslateX));
    height: unset;
  }
  &:nth-child(even) {
    margin-left: auto;
    img{
      left: unset;
      right: var(--_image-position--x);
    }
  }

  &:nth-child(2) {
    margin-top: 27.1875rem;
  }

  &:last-child {
    margin-top: 21.625rem;
  }
}

.steps__title {
  color: $third-text-color;

  font-size: 2rem;
  line-height: calc(41.44 / 32);

  @media screen and (min-width: 992px) {
    font-size: 3rem;
    line-height: calc(62.16 / 48);
  }

  @supports (font-size: clamp(2rem, 1.43rem + 2.53vw, 3rem)) {
    font-size: clamp(2rem, 1.43rem + 2.53vw, 3rem);
  }

  @media screen and (min-width: 992px) {
    text-transform: uppercase;
  }
}

.steps__text {
  & br {
    @media screen and (max-width: 767px) {
      display: none;
    }
  }
}
