#single-product {
  padding-top: 1.5rem;

  font-size: 0.875rem;
  line-height: 1.4;
  letter-spacing: 0.01875rem;

  color: $secondary-text-color;
}

.hero-section {
  padding-bottom: 2.5rem;

  & .quantity-wrapper,
  & .quantity__value {
    all: unset;
  }

  & .quantity-container {
    padding: 0.75rem;
    border-radius: $primary-radius;
  }

  & .quantity__value {
    margin: 0 1.4375rem;

    color: $black-color;
  }

  & .quantity__icon {
    fill: $secondary-text-color;
  }
}

.breadcrumb {
  margin-bottom: 1.5rem;

  color: $eighth-text-color;
}

.hero-gallery {
  @media screen and (min-width: 992px) {
    width: 28.5rem;
  }

  @media screen and (min-width: 1440px) {
    width: 29.0625rem;
  }
}

.wvg-single-gallery-image-container {
  @media screen and (min-width: 992px) {
    aspect-ratio: 1 / calc(27.3125 / 28.5);
  }

  @media screen and (min-width: 1440px) {
    aspect-ratio: 1 / calc(27.8125 / 29.0625);
  }

  & img {
    width: 100% !important;
    height: 100% !important;
  }
}

.pswp__caption,
.pswp__top-bar,
.woocommerce-notices-wrapper,
.hero-section .quantity,
table.variations {
  display: none !important;
}

.pswp--svg {
  & .pswp__button--arrow--left,
  & .pswp__button--arrow--right {
    &::before {
      width: 50px;
      height: 50px;

      background-size: contain;
      background-position: center;
    }
  }

  & .pswp__button--arrow--left {
    &:before {
      background-image: url(../images/icon_caret_left.svg);
    }
  }

  & .pswp__button--arrow--right {
    &:before {
      background-image: url(../images/icon_caret_right.svg);
    }
  }
}

.pswp__bg {
  background-color: rgba(0, 0, 0, 0.3);
  backdrop-filter: blur(0.125rem);
}

.summary {
  max-width: 37.4375rem;
}

.product_title {
  margin-bottom: 0.5rem;

  font-size: clamp(1.25rem, 0.823rem + 1.9vw, 2rem);

  color: $seventh-text-color;
}

.availability {
  border-radius: $secondary-radius;
  margin-bottom: 1.25rem;

  &.in-stock {
    background-color: $secondary-accent-color;
  }

  &.out-of-stock {
    background-color: red;
  }
}

.woocommerce-product-details__short-description {
  margin-bottom: 1.25rem;

  & p {
    margin-bottom: 0;

    &:not(:last-child) {
      margin-bottom: 1.25rem;
    }
  }

  & h3 {
    margin-bottom: 0.25rem;

    font-size: 0.75rem;
    font-weight: 700;
    letter-spacing: 0.0625rem;
    text-transform: uppercase;

    color: $seventh-text-color;
  }
}

.hero-section {
  & .price {
    margin-bottom: 1.25rem;

    line-height: normal;
    font-size: 2rem;

    color: $secondary-accent-color;
  }
}

.price-wrapper {
  margin-bottom: 1.25rem;

  .woocommerce-variation-add-to-cart {
    display: none;
  }
}

.attributes {
  margin-bottom: 1.25rem;

  & + div {
    & .woocommerce-variation {
      display: none !important;
    }
  }
}

.attributes-title {
  font-size: 0.75rem;
  letter-spacing: 0.0625rem;
  color: $seventh-text-color;
}

.hero-info ul.variations-list {
  &:not(:last-child) {
    margin-bottom: 1.75rem;
  }
}

.variations-list__label {
  cursor: pointer;

  &:has(.variations-list__input:checked) {
    & .variations-list__name {
      color: $white-color;
      background-color: $accent-color;
    }
  }
}

.variations-list__input {
  all: unset;
}

.variations-list__name {
  @include transition(color, background-color);

  padding-top: 0.625rem;
  padding-bottom: 0.625rem;

  border-radius: $fourth-radius;

  color: $seventh-text-color;
  background-color: $white-color;
}

.buy-wrapper {
  margin-top: 1.25rem;
  margin-bottom: 1.25rem;
}

.buy-button {
  @include transition(background-color);

  min-width: 14.25rem;

  & span {
    @include transition(scale);
  }

  &:disabled {
    background-color: $fifth-bg-color;

    & span {
      scale: 0;
    }

    & .loader-container {
      scale: 1;
    }
  }

  & .loader-container {
    @include transition(scale);

    scale: 0;
  }

  & .loader {
    animation: spin 2s linear infinite;
  }
}

.features-list {
  margin-top: 1.25rem;
  gap: 2.5rem;
}

.features-list__item {
  gap: 0.9375rem;

  flex-basis: calc((100% - 5rem / 3));
}

.features-list__text {
  color: $third-text-color;
}