.tabs {
  display: flex;
  gap: 1rem;

  margin-bottom: 1.5rem;

  & li {
    &.active {
      & a {
        border-bottom-color: $third-text-color;
        color: $third-text-color;
      }
    }
  }

  & a {
    @include hover(color $secondary-text-color $third-text-color, border-bottom-color transparent $third-text-color);

    display: block;
    padding: 0.5rem 0.5rem 0.3125rem 0.5rem;

    text-transform: uppercase;
    font-size: 1.125rem;
    line-height: 1.5;

    border-bottom-style: solid;
    border-bottom-width: 3px;
  }
}

.buttons-list__button {
  @include transition(color);

  border: none;
  font-size: 1.125rem;
  line-height: 1.5;

  color: $secondary-text-color;

  &::after {
    @include transition(background-color);

    content: '';
    position: absolute;
    bottom: 0;
    left: 0;

    display: inline-block;
    width: 100%;
    height: 3px;
    background-color: transparent;
  }

  &:hover,
  &:focus,
  &.is-active {
    color: $third-text-color;

    &::after {
      background-color: $third-text-color;
    }
  }
}

.woocommerce-Tabs-panel--description,
.woocommerce-Tabs-panel--exchanges_and_returns {
  & h2 {
    margin-bottom: 0.5rem;

    font-size: 1.125rem;
    line-height: 1.5;

    color: $third-text-color;
  }

  & p {
    &:not(:last-child) {
      margin-bottom: 1.25rem;
    }

    &:last-child {
      margin-bottom: 0;
    }
  }

  & ul {
    padding-left: 1.25rem;
    margin-bottom: 1rem;

    list-style-type: disc;
  }
}

.cr-count-row {
  display: none !important;
}

.commentlist {
  padding-bottom: 0 !important;
  margin-bottom: 1.5rem;

  & li {
    margin: 0 !important;

    &:not(:last-child){
      margin-bottom: 1.5rem !important;
    }
  }

  & .comment-text {
    display: flex;
    flex-direction: column;

    padding-bottom: 0.75rem !important;
    border-bottom: 1px solid $fifth-bg-color !important;
  }

  & .meta {
    margin-bottom: 0.5rem;

    order: 1;

    & .woocommerce-review__author {
      font-size: 1.125rem !important;
      font-weight: 400 !important;
      line-height: 1.5;

      color: $third-text-color !important;
    }

    & .woocommerce-review__published-date {
      font-size: 0.875rem !important;
      line-height: 1.4;
      letter-spacing: 0.03125rem;

      color: $third-text-color !important;
    }
  }

  & .crstar-rating {
    order: 3;

    margin: 0 !important;
  }

  & .description {
    margin-bottom: 0.5rem;

    order: 2;

    & p {
      margin: 0 !important;
    }
  }
}

