.tabs {
  display: flex;
  gap: 1rem;

  overflow-x: auto;
  overscroll-behavior-x: contain;
  scroll-snap-type: x mandatory;

  margin-bottom: 1.5rem;

  &::-webkit-scrollbar {
    display: none;
  }

  & li {
    scroll-snap-align: start;

    &.active {
      & a {
        border-bottom-color: $third-text-color;
        color: $third-text-color;
      }
    }
  }

  & a {
    @include hover(color $secondary-text-color $third-text-color, border-bottom-color transparent $third-text-color);

    display: block;
    padding: 0.5rem 0.5rem 0.3125rem 0.5rem;

    white-space: nowrap;
    text-transform: uppercase;
    font-size: clamp(0.875rem, 0.733rem + 0.63vw, 1.125rem);

    border-bottom-style: solid;
    border-bottom-width: 3px;

    @media screen and (max-width: 991px) {
      letter-spacing: 0.03125rem;
    }

    @media screen and (min-width: 992px) {
      line-height: 1.5;
    }
  }
}

.buttons-list__button {
  @include transition(color);

  border: none;
  font-size: 1.125rem;
  line-height: 1.5;

  color: $secondary-text-color;

  &::after {
    @include transition(background-color);

    content: '';
    position: absolute;
    bottom: 0;
    left: 0;

    display: inline-block;
    width: 100%;
    height: 3px;
    background-color: transparent;
  }

  &:hover,
  &:focus,
  &.is-active {
    color: $third-text-color;

    &::after {
      background-color: $third-text-color;
    }
  }
}

.woocommerce-tabs {
  padding-bottom: 1.5rem;
  border-bottom: 1px solid $fifth-bg-color;
}

.woocommerce-Tabs-panel--description,
.woocommerce-Tabs-panel--exchanges_and_returns {
  & h2 {
    margin-bottom: 0.5rem;

    font-size: 1.125rem;
    line-height: 1.5;

    color: $third-text-color;
  }

  & p {
    &:not(:last-child) {
      margin-bottom: 1.25rem;
    }

    &:last-child {
      margin-bottom: 0;
    }
  }

  & ul {
    padding-left: 1.25rem;
    margin-bottom: 1rem;

    list-style-type: disc;
  }
}

#comments {
  margin-bottom: 1.5rem;
}

.commentlist {
  & li {
    padding-bottom: 0.75rem;
    border-bottom: 1px solid $fifth-bg-color;

    &:not(:last-child) {
      margin-bottom: 1.5rem;
    }

    & > p {
      margin-bottom: 0.5rem;
    }
  }

  & .meta {
    margin-bottom: 0.5rem;

    color: $third-text-color;

    & .comment-author {
      font-size: 1.125rem;
      line-height: 1.5;
    }

    & .comment-date {
      letter-spacing: 0.03125rem;
    }
  }

  & .star {
    width: 1.5rem;
    height: 1.5rem;

    background-position: center;
    background-size: contain;

    &.star-filled {
      background-image: url(../images/icon-star-filled.svg);
    }

    &.star-empty {
      background-image: url(../images/icon-star-empty.svg);
    }
  }
}

#review_form_wrapper {
  color: $third-text-color;

  & form {
    display: flex;
    flex-direction: column;
  }

  & .comment-form-author {
    order: 1;
  }

  & .comment-form-email {
    order: 2;
  }

  & .comment-form-comment {
    order: 3;
  }

  & .comment-form-rating {
    order: 4;
  }

  & .form-submit {
    order: 5;
  }

  & .comment-notes,
  & .comment-form-cookies-consent {
    display: none;
  }

  & .comment-reply-title {
    display: block;

    max-width: fit-content;

    padding: 0.5rem 0.5rem 0.3125rem 0.5rem;
    border-bottom: 3px solid $accent-color;
    margin-bottom: 1rem;

    font-size: 1.125rem;
    line-height: 1.5;
  }

  & .comment-form-comment,
  & .comment-form-author,
  & .comment-form-email {
    display: flex;
    flex-direction: column;
  }

  & .comment-form-rating {
    margin-bottom: 1rem;
  }

  & .stars {
    margin-bottom: 0;

    & span {
      display: flex;

      max-width: fit-content;
      margin-left: -0.25rem;
    }

    & a {
      display: inline-block;
      width: 2rem;
      height: 1.5rem;

      font-size: 0;

      background-size: 1.5rem 1.5rem;
      background-position: center;
      background-repeat: no-repeat;

      padding: 0 0.25rem;
    }
  }

  & label {
    margin-bottom: 0.25rem;
  }

  & .form-submit {
    margin-bottom: 0;
  }

  & textarea,
  & input:not(input[type="submit"]) {
    padding: 0.625rem 0.75rem;
    border: 0;

    border-radius: $primary-radius;
    background-color: $white-color;

    &::placeholder {
      font-weight: 300;
      color: $fifth-text-color;
    }
  }

  & input {
    max-width: 20.5rem;
    height: 2.5rem;
  }

  & textarea {
    height: 5.5625rem;

    resize: none;
  }

  & input.submit {
    @include transition(background-color);

    min-width: 13.8125rem;
    height: 3rem;

    border: 0;
    border-radius: $primary-radius;

    font-size: 1rem;

    color: $white-color;
    background-color: $accent-color;

    &:hover,
    &:focus {
      background-color: $secondary-bg-color;
    }
  }
}

.stars span a,
.stars span a:hover ~ a {
  background-image: url(../images/icon-star-empty.svg);
}

.stars span:hover a {
  background-image: url(../images/icon-star-filled.svg);
}

.stars span a.active,
.stars span a.is-active {
  background-image: url(../images/icon-star-filled.svg) !important;
}