.pagination {
  margin-top: 2rem;

  gap: 0.375rem;
}

.pagination__item {
  background-color: transparent;

  font-size: 0.875rem;
  line-height: 1.4;
  letter-spacing: 0.01875rem;

  fill: $third-text-color;
  stroke: $third-text-color;
  color: $third-text-color;

  &.number {
    width: 2.125rem;
    height: 2.125rem;
  }

  &.current {
    color: $white-color;
    background-color: $accent-color;
  }
}

.load-more {
  @include transition(fill, background-color, color);

  min-width: 12.375rem;
  max-width: fit-content;
  height: 2.5rem;

  margin-top: 2rem;
  border-radius: $primary-radius;

  font-size: 0.875rem;
  line-height: 1.4;
  letter-spacing: 0.01875rem;

  fill: $white-color;
  background-color: $secondary-accent-color;
  color: $white-color;

  &.loading {
    & .load-more__icon {
      animation: rotateAnimation 0.7s linear infinite;
    }
  }

  &:disabled {
    color: $secondary-text-color;
    background-color: $fifth-bg-color;
    fill: $secondary-text-color;
  }
}

.load-more__icon {
  transform-origin: 50% 50%;
}

@keyframes rotateAnimation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}